@{
    ViewBag.Title = "Index";
}

<h2>Sistema de control de ofertas de servicios y Proyectos</h2>



<table  style="width: 100%; margin-top:100px; margin-bottom">
    <tr>
        <td align="center">
       <a href="http://localhost/SISCOP/Ofertas">
            <img alt="" src="~/Images/Proyecto.jpg"  height="250px" width="250px" /></td>
        </a>
       
            <td align="center">
             <a href="http://localhost/SISCOP/Proyecto">
                <img alt="" src="~/Images/Curso.jpg"  height="250px" width="250px" /></td>
        </a>
       <a href="http://localhost/SISCOP/Ofertas">
            <td align="center"><img alt="" src="~/Images/Usuarios.jpg"  height="250px" width="250px" /></td>
        </a>
    </tr>
        <tr>
        <td align="center"><h3><a href="http://localhost/SISCOP/Ofertas">Administracion de Ofertas</a></h3></td>
        <td align="center"><h3><a href="http://localhost/SISCOP/Proyecto">Administracion de Proyectos</a></h3></td>
        <td align="center"><h3>Administracion de Usuarios</h3></td>
    </tr>
</table>


<br />
<br />



